form {
    border: 1px solid black;
    padding: 10px;
    width: 620px;
}

label {
    display: block;
    margin-top: 10px;
}

input,
select,
textarea {
    width: 600px;
    border: 1px solid gray;
    outline: none;
    transition: all 0.4s;
    border-radius: 5px;
}

input[type=checkbox],
input[type=radio] {
    width: auto;
}

input:focus,
select:focus,
textarea:focus {
    border: 1px solid red;
    box-shadow: 0 0 5px red;
}

option[selected] {
    background: lightblue;
}