body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

#graphic, h1 {
    text-align: center;
}

p:hover{
    text-align: left;
    background-color: dodgerblue;
}

a:link {
    color:blue; 
}

a:visited {
    color: rgb(purple);
}

a:active {
    color:red;
}

a:hover {
    color:lightgreen;
}

li:nth-child(even){
    background-color: gray; 
}

ol:nth-child(odd){
    list-style-type: circle;
}