/* CSS for Size Example */

#p1 {
  border: 1px solid black;
  width: 50%;
  min-height: 200px;
  max-height: 250px;
  overflow: auto;
}

#p1 img {
  height: 50px;
  float: left;
}

#p2 {
  font-size: 24pt;
}

#s1 {
  font-size: 12pt;
  background: red;
  vertical-align: 20%;
}