.list{
    float: left; 
    border: 3px solid black; 
    margin: 2px; 
    clear: right;
}

#extra{
    float: right;
    border: 3px dotted black; 
    width: 30%; 
   clear: right; 
}

div{
   overflow: auto;  
   padding: 20px; 
   border: 5px solid black; 
   background-color: lightblue; 
   height: -5%; 
}

#pirate{
    float: right; 
    height: 100px; 
    margin: 6px; 
}