body{
    background-color: rgba(83, 83, 236, 0.76); 
    }
    
header{
        border: 10px double black; 
        background-color: white;  
        text-align: center; 
        font-size: 200%;
        width: 40%;
        margin-left: 30%;
    }
    
#books:hover{
        font-weight: bold;  
    }
    
#home:hover{
        font-weight: bold;  
    }
    
#authors:hover{
        font-weight: bold;  
    }

table{
    border: 5px dotted black; 
    padding: 3px;
    margin-left: 34%;
    margin-top: 2%;     
    }
    