#one {
    position: absolute;
    top: 75px;
    left: 100px;
    background: #ddeedd;
    padding: 20px;
    z-index: 10;
    width: 200px;
    min-height: 100px;
    opacity: 0.7;
    font-size: 14pt;
    font-weight: normal;
    font-family: arial, helvetica, sans-serif;
}

#two {
    position: absolute;
    top: 175px;
    left: 250px;
    background: #eedddd;
    padding: 20px;
    z-index: 9;
    width: 200px;
    min-height: 100px;
    opacity: 0.7;
    font-size: 14pt;
    font-weight: normal;
    font-family: arial, helvetica, sans-serif;
}